/* CONTAINER PRINCIPAL DA PÁGINA */
.order-create__container {
  max-width: 1100px;
  margin: 0 auto; /* Centraliza */
  padding: 40px 20px; /* Dá respiro lateral e vertical */
  margin-top: 30px; /* Espaço após o NavlogComponent */
  margin-bottom: 60px; /* Espaço antes do rodapé */
}

/* BOTÃO ADD ITEM */
.order-create__btn-add-item {
  background: #ffc107;
  color: #000;
  border: none;
  padding: 12px 22px;
  border-radius: 10px;
  font-weight: 700;
  margin-bottom: 20px;
  transition: 0.2s;
}

.order-create__btn-add-item:hover {
  background: #e8b202;
  transform: translateY(-2px);
}

/* TOTAL */
.order-create__total {
  text-align: right;
  font-size: 20px;
  font-weight: bold;
  color: #ffc107;
  margin: 25px 0; /* Deixa separado do botão e da lista */
}

/* TÍTULO "Itens do Pedido" */
.order-items-title {
  font-size: 17px;
  font-weight: bold;
  color: #ffcc00;
  margin: 25px 0 10px;
}
